[submodule "src/collective.geo.geographer"]
	path = src/collective.geo.geographer
	url = git@github.com:collective/collective.geo.geographer.git
	branch = master
[submodule "src/collective.geo.settings"]
	path = src/collective.geo.settings
	url = git@github.com:collective/collective.geo.settings.git
	branch = master
[submodule "src/collective.geo.mapwidget"]
	path = src/collective.geo.mapwidget
	url = git@github.com:collective/collective.geo.mapwidget.git
	branch = master
[submodule "src/collective.z3cform.mapwidget"]
	path = src/collective.z3cform.mapwidget
	url = git@github.com:collective/collective.z3cform.mapwidget.git
	branch = master
[submodule "src/collective.geo.contentlocations"]
	path = src/collective.geo.contentlocations
	url = git@github.com:collective/collective.geo.contentlocations.git
	branch = master
[submodule "src/collective.geo.openlayers"]
	path = src/collective.geo.openlayers
	url = git@github.com:collective/collective.geo.openlayers.git
	branch = master
[submodule "src/collective.geo.kml"]
	path = src/collective.geo.kml
	url = git@github.com:collective/collective.geo.kml.git
	branch = master
[submodule "src/collective.geo.behaviour"]
	path = src/collective.geo.behaviour
	url = git@github.com:collective/collective.geo.behaviour.git
	branch = master
[submodule "src/collective.geo.usersmap"]
	path = src/collective.geo.usersmap
	url = git@github.com:collective/collective.geo.usersmap.git
	branch = master
